{% extends 'base.html.twig' %}

{% block title 'Gérer les biens' %}

{% block body %}
    <div class="container mt-4">

        <h1>Gérer les biens</h1>

        <div class="text-right mb-3">
            <a href="{{ path('admin.biens.new') }}" class="btn btn-primary">+ Ajouter un nouveau bien</a>
        </div>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                <div class="alert-message">
                    {{ message }}
                </div>
            </div>
        {% endfor %}

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for biens in biens %}
                <tr>
                    <td>{{ biens.titre }}</td>
                    <td>
                        <a href="{{ path('admin.biens.edit', {id: biens.id}) }}" class="btn btn-info">Modifier</a>
                        <form method="post" action="{{ path('admin.biens.delete', {id: biens.id}) }}" style="display: inline-block;" onsubmit="return confirm('Êtes-vous vraiment sûr ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ biens.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
